img {
    height: 200px;
    width: 200px;
}

.espacio{
    margin-top: 1em;
}

.card{
    margin: 0 auto;
}

.row{
    align-items: center;
    justify-content: center;
}

.film:hover{
    cursor: pointer;
}